<div id="header_container">
  <div id="header">
    <h1>Coffee Server</h1>
    <% if login? %>
    <a href="/logout">ログアウト</a>
    <% else %>
    <a href="/oauth">ログイン</a>
    <% end %>
  </div>
</div>

<div id="main_container">
  <div id="content">
    <% if login? %>
    <div class="section ctrl">
      <h2>制御</h2>
      <ul>
        <li><a href="/off">切る</a></li>
        <li><a href="/signed/pour">注ぐ</a></li>
        <li class="last"><a href="/signed/on">淹れる</a></li>
      </ul>
      <ul>
        <li><div class="<%= true == @eject_status ? "status_ok" : "status_ng" %>">
          Eject status : <%= true == @eject_status ? "OK" : "NG" %>
        </div></li>
        <li><div class="<%= true == @ftdi_status ? "status_ok" : "status_ng" %>">
          FTDI status : <%= true == @ftdi_status ? "OK" : "NG" %>
        </div></li>
        <li class="last"><a href="/warm">保温</a></li>
        </li>
      </ul>
    </div>
    <hr>
    <div class="section ctrl">
      <h2>ランキング</h2>
      <p>カフェイン中毒者情報です(準備中)</p>
    </div>
    <hr>

    <% else %>
    <div class="section">
      <h2>コーヒーサーバとは</h2>
      <p>コーヒーメーカをコンピュータと接続し、ネットワーク上からの制御と利用の記録をとれるようにしたものです。</p>
    </div>
    <hr>
    <% end %>


    <div class="section">
      <h2>最新情報</h2>
      <a class="twitter-timeline"  href="https://twitter.com/rcc_coffee"  data-widget-id="451618727000170496">Tweets by @rcc_coffee</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <hr>
  </div>
</div>
