<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Coffee server - guatemala</title>
    <link rel="icon"href="sakenomu.ico" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/coffee.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  </head>
  <body id="INDEX">
    <div id="ex_body">
      <%= yield %>
    </div>
  </body>
</html>
