<div id="header_container">
  <div id="header">
    <h1>Coffee Server【ｻｰﾋﾞｽﾓｰﾄﾞ】</h1>
    <% if login? %>
    <a href="/logout">ログアウト</a>
    <% else %>
    <a href="/oauth">ログイン</a>
    <% end %>
  </div>
</div>

<form name="form" method="POST" id="form" action="/service"></form>

<div id="main_container">
  <div id="content">
    <div class="section ctrl">
      <h2>制御</h2>
      <ul>
        <li><a href="" onclick="addInput('power_off');$('form').submit();return false;">切る</a></li>
        <li><a href="" onclick="addInput('pour');$('form').submit();return false;">注ぐ</a></li>
        <li class="last"><a href="" onclick="addInput('drip');$('form').submit();return false;">淹れる/保温</a></li>
      </ul>
      <ul>
        <li><a href="" onclick="addInput('setup');$('form').submit();return false;">ﾎﾟﾝﾌﾟｾｯﾄｱｯﾌﾟ</a></li>
        <li><a href="" onclick="addInput('cleaning');$('form').submit();return false;">洗浄</a></li>
        <li class="last"><a href="" onclick="addInput('eject');$('form').submit();return false;">Eject</a></li>
      </ul>
      <ul>
        <li><div class="<%= true == @eject_status ? "status_ok" : "status_ng" %>">
          Eject status : <%= true == @eject_status ? "OK" : "NG" %>
        </div></li>
        <li><div class="<%= true == @ftdi_status ? "status_ok" : "status_ng" %>">
          FTDI status : <%= true == @ftdi_status ? "OK" : "NG" %>
        </div></li>
        <li class="last"><a href="" onclick="addInput('pour');$('form').submit();return false;">!ポンプのみ!</a></li>
      </ul>
    </div>
    <hr>
    <div class="section ctrl">
      <h2>ランキング</h2>
      <p>カフェイン中毒者情報です(準備中)</p>
    </div>
    <hr>

    <div class="section">
      <h2>最新情報</h2>
      <a class="twitter-timeline"  href="https://twitter.com/rcc_coffee"  data-widget-id="451618727000170496">Tweets by @rcc_coffee</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <hr>
  </div>
</div>

<script type="text/javascript">
  function addInput(name){
    $('form').append($('<input/>',{type:'hidden',name:name,value:'1'}));
  }
</script>
