@charset "UTF-8";

html{  }
body{
    font-size: 16px;
    background-image: url("./images/coffee.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}
hr{
    clear: both;
    border: none;
    padding: 0px;
    margin: 3em 250px;
    border: 1px #ddd solid;
    border-width: 1px 0px 1px 0px;
    height: 1px;
    background: transparent;
}
div#header_container{}

div#header{
    position: relative;
    margin: 0px auto;
    padding: 10px 10px 0px 10px;
    height: 32px;
    width: 600px;
    background: rgba(255,255,255,0.7);
}
div#header a{
    display: block;
    float: right;
    border: 1px red solid;
    padding: 8px 0px;
    width: 100px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background: red;
    text-decoration: none;
}
div#header a:hover{
    color: red;
    font-weight: bold;
    background: #fff;
    border: 1px red solid;
}
div#header h1{
    font-size: 32px;
    float: left;
}

div#main_container{
    width: 600px;
    margin: 0px auto;
    padding: 50px 10px 10px 10px;
    background: rgba(255,255,255,0.7);
}
div#main_container div.section{

}

div#main_container div.section h2{
    margin-bottom: 1em;
}
div#main_container div.section.ctrl ul{
    margin-bottom: 1px;
}
div#main_container div.section.ctrl ul li{
    display: block;
    float: right;
    margin-left: 3px;
}
div#main_container div.section.ctrl ul li a{
    display: block;
    margin: 0px;
    padding: 10px 0px;
    width: 196px;
    text-align: center;
    color: #fff;
    background: #666;
    text-decoration: none;
    border: 1px #666 solid;
}

div#main_container div.section.ctrl ul li a:hover{
    color: #666;
    background: #fff;
    border: 1px #666 solid;
}

div#main_container div.section.ctrl ul li.last{
    margin-left: 0px;
    float: none;
}

div#main_container div.section.ctrl ul li div.status_ok{
    display: block;
    margin: 0px;
    padding: 10px 0px;
    width: 196px;
    text-align: center;
    color: #fff;
    background: #0d0;
    text-decoration: none;
    border: 1px #0d0 solid;
}

div#main_container div.section.ctrl ul li div.status_ng{
    display: block;
    margin: 0px;
    padding: 10px 0px;
    width: 196px;
    text-align: center;
    color: #fff;
    background: #f33;
    text-decoration: none;
    border: 1px #f33 solid;
}
